* {
  margin: 0;
  padding: 0;
}

header {
  width: auto;
  padding: 20px;
  font-family: serif;
  color: #16425B;
  background-color: #D9DCD6;
}

header > h1 {
  text-align: center;
  font-size: 50px;
}

body {
  font-size: 20px;
  background-color: #16425B;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.container > div {
  margin: 20px;
  padding: 20px;
  width: 400px;
  height: 400px;
  background-color: #D9DCD6;
  border: 2px solid black;
  text-align: center;
}
